{% extends 'partials/layout.twig' %}
{% block conten %}
<form method="post" action="{{'roles/delete'|url}}" accept-charset="UTF-8">
    <input hidden value="{{model.id}}" name="id">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Eliminar Rol</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 form-group">            
                    <h4><strong>Nombre:</strong></h4>
                    <label>{{model.nombre}}</label>
                </div>               
            </div>           
            <div class="row ">
                <div class="text-right form-group col-md-12">
                    <a href="{{ 'roles'|url }}" class="btn btn-default"> Cancelar</a>
                    <button data-ajax="true" type="submit" class="btn btn-danger">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>     
</form>
{% endblock %}