{% extends 'partials/layout.twig' %}
{% block conten %}
 <div class="page-header">
        <h4>Editar Permiso</h4>
    </div>
    <form action="{{'roles/edit'|url}}" method="post" >
    <input hidden value="{{model.id}}" name="id">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="" >Nombre</label>
                    <input value="{{model.nombre}}" name="nombre" type="text" class="form-control" placeholder="Ingrese Nombre">
                </div>
            </div>            
        </div>
        
        <div class="row">
            <div class="text-right">
                <a href="{{ 'roles/'|url }}" class="btn btn-default"> Cancelar</a>
                <button data-ajax="true" type="submit" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </form>
{% endblock %}